.collapse.jumbotron#success-box
  svg.checkmark(
    xmlns="http://www.w3.org/2000/svg",
    viewBox="0 0 52 52"
  )
    circle.checkmark__circle(
      cx="26",
      cy="26",
      r="25",
      fill="none"
    )
    path.checkmark__check(
      fill="none",
      d="M14.1 27.2l7.1 7.2 16.7-16.8"
    )
  p.lead(align="center") Payment completed! Thank you 😀
  p.lead#invoice-description(align="center")
  p.lead.font-weight-bold(align="center") Proof of payment:
  p.lead#invoice-preimage.long-word(align="center")
  .go-home(align="center")
    a.btn.btn-lg.btn-primary.btn-block(href="/") Go to home
